.jumbotron{
	background-image: url(../images/playa.jpg);
	background-size: cover;
	color:black;
	margin-top: 50px;
	height:275px;
	width:auto;
	background-position: center;
	font-family:'Barrio',cursive;
}
footer{
	padding: 10px 10px 0 10px;/*reloj, top, right, bottom, left*/
	background-color: #bbd7ed;
	margin-bottom: 0px;
	margin-top:10px;
}
.card-hotel{
	flex:1 200px;/*cuanto crece el elemento, de cuanto va a ser el ancho*/
	margin-top:10px;
	background-color: #e1f8f8;
}  
.card-title{
	width: 100%;
} 

.breadcrumb{
	background-color: black;
}
.breadcrumb>.active{
	color:white;
}
.footer-addres-icon{
	padding-right: 5px;
}
.btn-reserva{
	width:100%;
	border-radius: 0px;
}
.subtitle{
		background-color: #e1f8f8;
}
.badge{
	background-color: black;
}
.tab-content{
	padding-top: 10px;
}
}

