.jumbotron {
  background-image: url(../images/playa.jpg);
  background-size: cover;
  color: black;
  height: 275px;
  width: auto;
  background-position: center;
  font-family: 'Barrio',cursive;
  margin-top: 50px;
  margin-bottom: 20px; }

footer {
  padding: 10px 10px 0 10px;
  /*reloj, top, right, bottom, left*/
  background-color: #bbd7ed;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  /*cuanto crece el elemento, de cuanto va a ser el ancho*/
  background-color: #e1f8f8;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-title {
  width: 100%; }

.breadcrumb {
  background-color: black; }

.breadcrumb > .active {
  color: white; }

.footer-addres-icon {
  padding-right: 5px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.subtitle {
  background-color: #e1f8f8; }

.badge {
  background-color: black; }

.tab-content {
  padding-top: 10px; }
