@yellow: #fffa19; 
@red: #d6151c; 
@blue: #bbd7ed; 
@green: #e1f8f8; 

.margenes(@top:0px, @bottom:0px){
	margin-top: @top;
	margin-bottom: @bottom;
}

.jumbotron{
	background-image: url(../images/playa.jpg);
	background-size: cover;
	color:black;
	height:275px;
	width:auto;
	background-position: center;
	font-family:'Barrio',cursive;
	.margenes(50px, 20px);
}
footer{
	padding: 10px 10px 0 10px;/*reloj, top, right, bottom, left*/
	background-color: @blue;
	.margenes(10px,0px);
}
.card-hotel{
	flex:1 200px;/*cuanto crece el elemento, de cuanto va a ser el ancho*/
	background-color: @green;
	.margenes(10px,0px);
}  
.card-title{
	width: 100%;
} 

.breadcrumb{
	background-color: black;
}
.breadcrumb>.active{
	color:white;
}
.footer-addres-icon{
	padding-right: 5px;
}
.btn-reserva{
	width:100%;
	border-radius: 0px;
}
.subtitle{
		background-color: @green;
}
.badge{
	background-color: black;
}
.tab-content{
	padding-top: 10px;
}